.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #141414;
  }
  
  .logo {
    height: 50px;
    cursor: pointer;
  }
  
  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .MuiButton-root {
    font-weight: bold;
    text-transform: none;
  }
  
  .MuiAvatar-root {
    background-color: #f50057; /* Customize the Avatar background color */
    color: white;
  }
  